In [2]:
import pandas as pd

In [4]:
frame = pd.DataFrame({'numbers': range(10), 'chars': ['a'] * 10})

In [5]:
frame

   numbers chars
0        0     a
1        1     a
2        2     a
3        3     a
4        4     a
5        5     a
6        6     a
7        7     a
8        8     a
9        9     a